
.parking_form{
    margin: 50px 100px;
    padding: 30px 30px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 4px;
    background-color: rgb(174, 174, 220);
    font-size: larger;
    justify-content: space-evenly;
    border-radius: 20px;
}
.parking_form div{
    padding: 10px 10px;
}
.parking_form div label{
    padding: 10px 10px;
}
.parking_form div input{
    padding: 6px 5px;
    font-size: large;
}
.parking_form button{
   margin-left: 480px;
   margin-top: 30px;
   padding: 10px 20px;
   border: 2px solid blue;
   border-radius: 4px;
   background-color: blue;
   color: white;
   font-size: large;
   cursor: pointer;
}
/* 
@media (max-width: 768px) {
    .parking_form {
        margin: 20px;
        padding: 20px;
        grid-template-columns: auto;
    }

    .parking_form button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
} */
/* Media query for mobile devices */
@media (max-width: 768px) {
    .parking_form {
        margin: 20px;
        padding: 20px;
        grid-template-columns: auto;
    }

    .parking_form div {
        flex-direction: column; /* Stack label and input elements vertically */
    }

    .parking_form div label {
        margin-bottom: 5px; /* Add spacing between label and input */
    }

    .parking_form button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
}
